@charset "utf-8";
/* CSS Document */

body {
background-color: #1a1b1c;
color: white;
font-family: "Lucida Console", Monaco, monospace;
}

a {
color: #A1D0FF;
}

h1 {
  font-size: 110%;
  margin: 0px;
  padding: 0px;
}

.container_title{ grid-area: header; }
.container_main { grid-area: main; }
.container_desc { grid-area: description; }

.container {
	display: grid;
  height:97%;
	grid-template-areas: "header header"
	                     "main description";
	grid-template-columns: 4fr 2fr;
    grid-column-gap: 10px;
    grid-row-gap: 5px;
	grid-template-rows: auto 5fr;
}

@media screen and (max-width: 981px) {
	.container {
    height: auto;
		grid-template-areas: "header" "description" "main";
		grid-template-columns: 100%;
		grid-template-rows: auto 2fr 8fr;
	}
}

@media screen and (max-width: 640px) {
  .container {
    height: auto;
    grid-template-areas: "header" "description" "main";
    grid-template-columns: 100%;
    grid-template-rows: auto 2fr 5fr;
  }
}
